<div class="cart-black-overlay"></div>
<div class="cart-sidebar hide">
<div class="cart-sidebar-container">
<div class="cart-sidebar--header">
   <strong>Shopping Cart</strong>
   <a href="javascript:void(0);"><i class="fa fa-close"></i></a>
</div>
</div>
<div class="cart-sidebar--items-wrpaper">
{% if cart.items.size > 0 %}
{% for item in cart.items %}
<div class="cart-sidebar-item">
      <div class="row align-items-center no-gutters">
         <div class="col-18 cart-p-img">
            {{ item.image | img_url: '200x' | img_tag: '','img-fluid'}}
         </div>
         <div class="col-42 h-100 pl-2">
            <div class="sidebar-cart--product-info">
               <div class="row">
                  <div class="col-60">
                        <strong class="cart-product-title">{{ item.product.title }}
                           <!-- <span class='booster-cart-item-success-notes d-none' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span> -->
                        </strong>
                  </div>
                  <div class="col-60">
                     <div class="row align-items-end">
                        <div class="col-60 mb-2">
                           <span>{{ item.price | money_with_currency }}</span>
                        </div>
                        <div class="col-30">
                           <input type="number" data-item="{{ item.variant_id }}" value="{{ item.quantity}}" name="cart-prod-qty" class="cart-prod-qty">
                        </div>
                        <div class="col-30 text-right text-right">
                           <a href="javascript:void(0);" class="delete-cart-item" data-itemid="{{ item.key }}">Remove</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endfor %}
{% else %}
<p class="empty-cart-message">YOU HAVE NO ITEMS IN YOUR SHOPPING CART.</p>
{% endif %}
</div>

<div class="cart-sidebar--footer">
<div class="cart-sidebar--footer-subtotal">
   <div class="row">
      <div class="col-30">
         <strong>TOTAL</strong>
      </div>
      <div class="col-30 text-right">
         <strong class="cart-subtotals"><span class="wh-original-cart-total"><span class='wh-original-price'><span class='ak-upsell-original-price'>{{ cart.total_price | money_with_currency }}</span><span class='ak-upsell-cart-total'></span></span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></strong>
      </div>
   </div>
   <div class="row">
         <div class="col-60 px-0 product-form__item product-form__item--submit">
            <div class="button">
              <div class="add">
                <button type="button" onclick="window.location='/cart'" name="add" class="btn minicart-cart-btn product-form__cart-submit"><span>Cart</span></button>
                <button type="button" name="add" class="btn product-form__cart-submit" onclick="window.location='/checkout'"><span>Checkout</span></button>
               </div>
            </div>
         </div>
   </div>
</div>
</div>
</div>
<script>
   $(document).ready(function(){
      //Delete Item From Cart
      $('.cart-sidebar--items-wrpaper').on('click','.delete-cart-item',function(){
         var itemid = $(this).data('itemid');
         var item = $(this).closest('.cart-sidebar-item');
         $.ajax({
            url:"/cart/change.js",
            dataType: 'json',
            data: {
               quantity:0,
               id: itemid
            },
            success: function(resp) {
               $.ajax({
               url:"/cart.js",
               dataType: 'json',
               success: function(res) {
                  console.log(res);
                  item.fadeOut();
                  $('#CartCount span').eq(0).text(resp.item_count);
                  $('.site-header__cart').next().text(Shopify.formatMoney(res.total_price)+' {{ cart.currency.iso_code }}');
                  $('.cart-subtotals').text(Shopify.formatMoney(res.total_price)+' {{ cart.currency.iso_code }}');
               }});
            }
         })
      });
      //Update Item From Cart
      $('.cart-sidebar--items-wrpaper').on('change','.cart-prod-qty',function(){
         var item = $(this).data('item');
         var qty = $(this).val();
         $.ajax({
            url:"/cart/change.js",
            dataType: 'json',
            data: {
               quantity:qty,
               id: item
            },
            success: function(resp) {
               $('#CartCount span').eq(0).text(resp.item_count);
               $('.site-header__cart').next().text(Shopify.formatMoney(resp.total_price)+' {{ cart.currency.iso_code }}');
               $('.cart-subtotals').text(Shopify.formatMoney(resp.total_price)+' {{ cart.currency.iso_code }}');
            }
         })
      });
      //Close Sidebar
      $('.cart-sidebar--header a').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      $('.cart-black-overlay').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      //Open sidebar from header
      $('.site-header__cart').click(function(e){
         $('.cart-black-overlay').fadeIn();
         $('.cart-sidebar').removeClass('hide');
         return false;
      })
   })
</script>