<div class="container main-2">
    <div class="slider-contnet rotatingslides">
        {% for block in section.blocks %}
        <div class="content-slide">
            <div class="row no-gutters">
                <div class="col-60 col-md-20 slideimg">
                    {% if block.settings.image != blank %}
                    <img data-aos="{{block.settings.image_animation}}" data-aos-duration="2000" src="{{ block.settings.image | img_url: '1000x' }}" alt="slide text">
                    {% endif %}
                </div>
                <div class="col-60 col-md-30 text-section">
                    <div class="slider-content">
                        <h2 data-aos="{{block.settings.title_animation}}" data-aos-duration="2000">{{ block.settings.title }}</h2>
                        <h4>{{ block.settings.sub_title }}</h4>
                        {{ block.settings.text }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% schema %}
{
  "name": "Models Section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "model",
      "name": "Model",
      "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
          "type": "select",
          "id": "image_animation",
          "label": "Animation",
          "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
                "group": "FADE",
                "value": "fade-in",
                "label": "fade in"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
          ],
          "default": "flip-down"
        },
      {
          "type": "text",
          "id": "title",
          "label": "Title"
      },
      {
        "type": "select",
        "id": "title_animation",
        "label": "Animation",
        "options": [
            {
            "group": "FADE",
            "value": "fade-up",
            "label": "fade up"
            },
            {
              "group": "FADE",
              "value": "fade-in",
              "label": "fade in"
            },
            {
            "group": "FADE",
            "value": "fade-right",
            "label": "fade right"
            },
            {
            "group": "FADE",
            "value": "fade-left",
            "label": "fade left"
            },
            {
            "group": "FADE",
            "value": "fade-up-right",
            "label": "fade up right"
            },
            {
            "group": "FADE",
            "value": "fade-up-left",
            "label": "fade up left"
            },
            {
            "group": "FADE",
            "value": "fade-down-right",
            "label": "fade down right"
            },
            {
            "group": "FADE",
            "value": "fade-down-left",
            "label": "fade down left"
            },
            {
            "group": "FLIP",
            "value": "flip-left",
            "label": "flip left"
            },
            {
            "group": "FLIP",
            "value": "flip-right",
            "label": "flip right"
            },
            {
            "group": "FLIP",
            "value": "flip-up",
            "label": "flip up"
            },
            {
            "group": "FLIP",
            "value": "flip-down",
            "label": "flip down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in",
            "label": "zoom in"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-up",
            "label": "zoom in up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-down",
            "label": "zoom in down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-left",
            "label": "zoom in left"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-right",
            "label": "zoom in right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out",
            "label": "zoom out"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-up",
            "label": "zoom out up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-down",
            "label": "zoom out down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-right",
            "label": "zoom out right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-left",
            "label": "zoom out left"
            }
        ],
        "default": "flip-down"
        },
      {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
      },
      {
          "type": "richtext",
          "id": "text",
          "label": "Text"
      },
      {
          "type": "url",
          "id": "link",
          "label": "Link"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Models Section",
      "category": "Image"
    }
  ]
}
{% endschema %}