<div class="program-section">
    <div class="row no-gutters">
        <div class="text-section">
            <div class="text-inner">
                {% if section.settings.title != blank %}
                <h1 data-aos="{{section.settings.title_animation}}" data-aos-duration="2000" class="section-title-2">
                    {{ section.settings.title }}
                </h1>
                {% endif %}
                {% if section.settings.text != blank %}
                <p>{{ section.settings.text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="shape-slider-container">
            <div class="shape-slider">
                {% for block in section.blocks %}
                <div class="shape-slide">
                    <div class="shape-cont">
                        {% if block.settings.image != blank %}
                            {% if block.settings.link != blank %}
                                <a href="{{block.settings.link}}">
                                {% endif %}
                                    <img data-aos="{{block.settings.image_animation}}" data-aos-duration="2000" src="{{ block.settings.image | img_url: '1000x' }}">
                                {% if block.settings.link != blank %}
                                </a>
                            {% endif %}
                        {% endif %}
                        <h3 data-aos="{{block.settings.title_animation}}" data-aos-duration="2000">{{ block.settings.title }}</h3>
                        <span class="weeks">
                            {{ block.settings.weeks }}
                        </span>
                        <span class="shape-price">
                            {{ block.settings.price }}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
.program-section .text-section{
    background-color: {{section.settings.bg_color}};
}
</style>
{% schema %}
{
  "name": "Programs Section",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading"
    },
    {
      "type": "select",
      "id": "title_animation",
      "label": "Title Animation",
      "options": [
          {
          "group": "FADE",
          "value": "fade-up",
          "label": "fade up"
          },
          {
          "group": "FADE",
          "value": "fade-down",
          "label": "fade down"
          },
          {
          "group": "FADE",
          "value": "fade-right",
          "label": "fade right"
          },
          {
          "group": "FADE",
          "value": "fade-left",
          "label": "fade left"
          },
          {
          "group": "FADE",
          "value": "fade-up-right",
          "label": "fade up right"
          },
          {
          "group": "FADE",
          "value": "fade-up-left",
          "label": "fade up left"
          },
          {
          "group": "FADE",
          "value": "fade-down-right",
          "label": "fade down right"
          },
          {
          "group": "FADE",
          "value": "fade-down-left",
          "label": "fade down left"
          },
          {
          "group": "FLIP",
          "value": "flip-left",
          "label": "flip left"
          },
          {
          "group": "FLIP",
          "value": "flip-right",
          "label": "flip right"
          },
          {
          "group": "FLIP",
          "value": "flip-up",
          "label": "flip up"
          },
          {
          "group": "FLIP",
          "value": "flip-down",
          "label": "flip down"
          },
          {
          "group": "ZOOM",
          "value": "zoom-in",
          "label": "zoom in"
          },
          {
          "group": "ZOOM",
          "value": "zoom-in-up",
          "label": "zoom in up"
          },
          {
          "group": "ZOOM",
          "value": "zoom-in-down",
          "label": "zoom in down"
          },
          {
          "group": "ZOOM",
          "value": "zoom-in-left",
          "label": "zoom in left"
          },
          {
          "group": "ZOOM",
          "value": "zoom-in-right",
          "label": "zoom in right"
          },
          {
          "group": "ZOOM",
          "value": "zoom-out",
          "label": "zoom out"
          },
          {
          "group": "ZOOM",
          "value": "zoom-out-up",
          "label": "zoom out up"
          },
          {
          "group": "ZOOM",
          "value": "zoom-out-down",
          "label": "zoom out down"
          },
          {
          "group": "ZOOM",
          "value": "zoom-out-right",
          "label": "zoom out right"
          },
          {
          "group": "ZOOM",
          "value": "zoom-out-left",
          "label": "zoom out left"
          }
      ],
      "default": "flip-down"
    },
    {
        "type": "text",
        "id": "text",
        "label": "Text"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "shapes",
      "name": "Shapes",
      "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
          "type": "select",
          "id": "image_animation",
          "label": "Image Animation",
          "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
          ],
          "default": "flip-down"
        },
      {
          "type": "text",
          "id": "title",
          "label": "Title"
      },
      {
        "type": "select",
        "id": "title_animation",
        "label": "Title Animation",
        "options": [
            {
            "group": "FADE",
            "value": "fade-up",
            "label": "fade up"
            },
            {
            "group": "FADE",
            "value": "fade-down",
            "label": "fade down"
            },
            {
            "group": "FADE",
            "value": "fade-right",
            "label": "fade right"
            },
            {
            "group": "FADE",
            "value": "fade-left",
            "label": "fade left"
            },
            {
            "group": "FADE",
            "value": "fade-up-right",
            "label": "fade up right"
            },
            {
            "group": "FADE",
            "value": "fade-up-left",
            "label": "fade up left"
            },
            {
            "group": "FADE",
            "value": "fade-down-right",
            "label": "fade down right"
            },
            {
            "group": "FADE",
            "value": "fade-down-left",
            "label": "fade down left"
            },
            {
            "group": "FLIP",
            "value": "flip-left",
            "label": "flip left"
            },
            {
            "group": "FLIP",
            "value": "flip-right",
            "label": "flip right"
            },
            {
            "group": "FLIP",
            "value": "flip-up",
            "label": "flip up"
            },
            {
            "group": "FLIP",
            "value": "flip-down",
            "label": "flip down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in",
            "label": "zoom in"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-up",
            "label": "zoom in up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-down",
            "label": "zoom in down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-left",
            "label": "zoom in left"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-right",
            "label": "zoom in right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out",
            "label": "zoom out"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-up",
            "label": "zoom out up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-down",
            "label": "zoom out down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-right",
            "label": "zoom out right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-left",
            "label": "zoom out left"
            }
        ],
        "default": "flip-down"
      },
      {
          "type": "text",
          "id": "weeks",
          "label": "Weeks"
      },
      {
          "type": "text",
          "id": "price",
          "label": "Price"
      },
      {
          "type": "url",
          "id": "link",
          "label": "Link"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Programs Section",
      "category": "Image"
    }
  ]
}
{% endschema %}