<div class="container">
    <ul class="row">
      <div class="col-60">
      <header class="section-header text-center">
      <div class="mb-5">
      {% for link in linklists.blogs.links %}
      <a class="tablinks {% if link.current %} active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
      </div>
      <h1>All</h1>
      </header>
    </div>
    {% for link in linklists.blogs.links %}
      {% assign blog = link.object %}
          {% for article in blog.articles %}
          <li class="col-60 col-md-20">
            <div>
              <a href="{{ article.url }}" class="article__link">
                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    
                  {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
                  <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                    <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                      <img id="{{ img_id }}"
                          class="article__grid-image lazyload"
                          src="{{ article.image | img_url: '300x300' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ article.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="">
                    </div>
                  </div>
                  <noscript>
                    <div class="article__grid-image-wrapper">
                      {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                    </div>
                  </noscript>
                {% endif %}
                <div style="padding: 15px 20px;">
                  <p class="blog--category">{{ blog.title }}</p>
                <h2 class="article__title h3{% if article.image %} article__title--has-image{% endif %}">
                  {{ article.title | escape }}
                </h2>
              </a>
    
              <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
                {% if section.settings.blog_show_author %}
                  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}
    
                {% if section.settings.blog_show_date %}
                  <span class="article__date">
                    {{ article.published_at | time_tag: format: 'date' }}
                  </span>
                {% endif %}
    
                {% if blog.comments_enabled? and article.comments_count > 0 %}
                  <ul class="list--inline article__meta-buttons">
                    <li>
                      <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  </ul>
                  {% endif %}
                  </div>
              </div>
              </div>
            </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div> 
    {% schema %}
    {
      "name": "Blog pages",
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "label": {
            "da": "Vis forfatter",
            "de": "Autor anzeigen",
            "en": "Show author",
            "es": "Mostrar autor",
            "fi": "Näytä tekijä",
            "fr": "Afficher l'auteur",
            "hi": "लेखक दिखाएं",
            "it": "Mostra autore",
            "ja": "執筆者を表示する",
            "ko": "작성자 표시",
            "nb": "Vis forfatter",
            "nl": "Auteur weergeven",
            "pt-BR": "Exibir autor",
            "pt-PT": "Mostrar autor",
            "sv": "Visa författare",
            "th": "แสดงผู้เขียน",
            "zh-CN": "显示作者",
            "zh-TW": "顯示作者"
          },
          "default": true
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "label": {
            "da": "Vis dato",
            "de": "Datum anzeigen",
            "en": "Show date",
            "es": "Mostrar fecha",
            "fi": "Näytä päivämäärä",
            "fr": "Afficher la date",
            "hi": "दिनांक दिखाएं",
            "it": "Mostra data",
            "ja": "日付を表示する",
            "ko": "날짜 표시",
            "nb": "Vis dato",
            "nl": "Datum weergeven",
            "pt-BR": "Exibir data",
            "pt-PT": "Mostrar data",
            "sv": "Visa datum",
            "th": "แสดงวันที่",
            "zh-CN": "显示日期",
            "zh-TW": "顯示日期"
          },
          "default": true
        }
      ]
    }
    {% endschema %}