<div class="coaching-page">
    <div class="row no-gutters">
        <div class="col-60">
        <img class="coaching-banner-image" src="{{ 'Soph_L_0167@2x.png' | asset_url }}">
        <div class="coaching-text-container">
            <h2 class="page-heading">
                {{ page.title }}
            </h2>
        </div>
        </div>
    </div>
    <section class="coaching">
        <div class="container">
            <div class="row no-gutters mb-4">
                <div class="col-60 col-md-60 join-points">
                    <div class="point-container">
                        <h2 class="page-heading">WHY JOIN TRAIN WITH SOPH??</h2>
                        <ul>
                            <li><img class="checked-sign" src="{{ 'tick1.png' | asset_url }}"> Do you wish you were leaner, fitter, stronger, and more confident?</li>
                            <li><img class="checked-sign" src="{{ 'tick1.png' | asset_url }}">Are you ready to make a change in your life but have NO idea where or how to start?</li>
                            <li><img class="checked-sign" src="{{ 'tick1.png' | asset_url }}">Are you sick of not fitting into your clothes properly? Or feeling down when you see photos of yourself?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-60">
            <div class="promotional-banner">
                <h2>WELL GIRL, YOU’VE COME TO THE RIGHT PLACE & I’VE GOT YOU!</h2>          
            </div>
        </div>
    </div>
    <section class="coaching-section container">
        <div class="row">
            <div class="col-60">
                <div class="program-heading mx-auto">
                <h2 class="page-heading">
                    Programs
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl neque, viverra id tincidunt nec, semper vitae tellus. Vivamus eu leo nec lacus ullamcorper molestie ut</p>
            </div>
            </div>
        </div>
    </section>
    <section class="coaching-section container">
        <div class="row align--center">
            <div class="col-60 col-md-30">
                <img class="cut-tone-image" src="{{ 'Soph_L_9873@2x.png' | asset_url }}">
            </div>
            <div class="col-60 col-md-30">
                <div class="cut-box coacing-text--box">
                <h2 class="page-heading">
                    CUT & TONE
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non</p>
                <a class="find-program" href="#"><span>LEARN MORE</span></a>
            </div>
            </div>
        </div>
    </section>
    <section class="build-shape coaching-section">
        <div class="container">
            <div class="row align--center">
                <div class="col-60 col-md-30 order-2-mobile">
                    <div class="build-shape-heading coacing-text--box">
                    <h2 class="page-heading">
                        BUILD & SHAPE
                    </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non</p>
                    <a class="find-program" href="#"><span>LEARN MORE</span></a>
                </div>
                </div>
            <div class="col-60 col-md-30">
                    <img src="{{ 'DSC_3x.png' | asset_url }}">
                </div>
            </div>
        </div>
    </section>
    <section class="coaching-section">
        <div class="container">
            <div class="row align--center">
                <div class="col-60 col-md-30">
                    <img src="{{ 'Soph_2x.png' | asset_url }}">
                </div>
                <div class="col-60 col-md-30">
                    <div class="grow-box coacing-text--box">
                    <h2 class="page-heading">
                        GROW YOUR GLUTES
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non</p>
                <a class="find-program" href="#"><span>LEARN MORE</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="coaching-section">
        <div class="tws-at-home">
            <div class="container">
                <div class="row align--center">
                    <div class="col-60 col-md-30 order-2-mobile">
                        <div class="tws-box coacing-text--box">
                        <h2 class="page-heading">
                            TWS At Home
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non</p>
                        <a class="find-program" href="#"><span>LEARN MORE</span></a>
                        </div>
                    </div>
                    <div class="col-60 col-md-30">
                        <img src="{{ '387@2x.png' | asset_url }}">      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row find-box mt-5">
            <div class="col-60">
                <div class="width-box mx-auto">
                    <h2 class="page-heading">
                        Find my program
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl neque, viverra id tincidunt nec, semper vitae tellus. Vivamus eu leo nec lacus ullamcorper molestie ut</p>
                </div>
                <div class="find-slider">
                    <div class="slide-images">
                        <div class="find-slide-images">
                            <img src="{{ 'DSC_3x.png' | asset_url }}">
                            <h3>CREATE YOUR DREAM SHAPE</h3>
                            <span class="weeks">6 weeks</span>
                            <span class="shape-price">$599.00</span>
                        </div>
                    </div>
                    <div class="slide-images">
                        <div class="find-slide-images">
                            <img src="{{ 'DSC_3x.png' | asset_url }}">
                            <h3>CREATE YOUR DREAM SHAPE</h3>
                            <span class="weeks">6 weeks</span>
                            <span class="shape-price">$599.00</span>
                        </div>
                    </div>
                    <div class="slide-images">
                        <div class="find-slide-images">
                            <img src="{{ 'DSC_3x.png' | asset_url }}">
                            <h3>CREATE YOUR DREAM SHAPE</h3>
                            <span class="weeks">6 weeks</span>
                            <span class="shape-price">$599.00</span>
                        </div>
                    </div>
                    <div class="slide-images">
                        <div class="find-slide-images">
                            <img src="{{ 'DSC_3x.png' | asset_url }}">
                            <h3>CREATE YOUR DREAM SHAPE</h3>
                            <span class="weeks">6 weeks</span>
                            <span class="shape-price">$599.00</span>
                        </div>
                    </div>
                    <div class="slide-images">
                        <div class="find-slide-images">
                            <img src="{{ 'DSC_3x.png' | asset_url }}">
                            <h3>CREATE YOUR DREAM SHAPE</h3>
                            <span class="weeks">6 weeks</span>
                            <span class="shape-price">$599.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>